{% include "css/blocks/Invisible.css" %}
{% include "css/blocks/PageHeader.css" %}
{% include "css/blocks/PullChain.css" %}
{% include "css/blocks/SiteAuthor.css" %}
{% include "css/blocks/SiteSubtitle.css" %}
{% include "css/blocks/Visible.css" %}

.lights-on {
	background-color: var( --color-cream );
}
.lights-off {
	background-color: var( --color-purple );
	cursor: default;
}

.PageTitle {
	font-size: var( --size-2 );
	font-weight: bold;
}

.animate-fade-in > * {
	--transition-fade: opacity 0.875s ease-in var( --transition-delay );

	opacity: 0;
	transition: var( --transition-fade );
}
.animate-fade-in.animate > * {
	opacity: 1;
}

.icon {
	display: inline-block;
	height: var( --icon-size, var( --size-1 ) );
}

.card {
	overflow: hidden;
	margin-left: var( --page-size );
	margin-right: var( --page-size );
	border-radius: var( --size--1 );
	padding: var( --card-padding, var( --size-1 ) );
	background: var( --card-background );
	color: var( --card-text );
	text-align: center;
}
.card-border {
	border: solid var( --card-border, var( --card-accent ) ) var( --card-border-size, var( --size--4 ) );
	padding: var( --size-1 );
}

.card-title {
	--card-text: var( --color-purple-light );

	padding: var( --size-1 );
	background-color: var( --color-purple );
	text-align: center;
}
	.site-title {
		line-height: 0.8;
	}
	@media screen and (min-width: {{ metrics.containerSize }}) {
		.card-title {
			--shadow-color: var( --color-green );
			margin-top: var( --page-size );
			margin-right: var( --page-size );
			margin-left: var( --page-size );
			border-radius: var( --size--1 );
		}

		.site-title {
			font-size: var( --size-4 );
		}
	}

.card-subtitle {
	z-index: 10;
	position: relative;

	--ink-color: var( --color-green );

	--circle-size: 35%;

	--card-background-x: 50%;
	--card-background-y: 25%;
	--card-background:
		radial-gradient(
			circle at var( --card-background-x ) var( --card-background-y ),
			var( --ink-color ),
			var( --ink-color ) var( --circle-size ),
			var( --color-cream ) var( --circle-size ),
			var( --color-cream ) calc( var( --circle-size ) + var( --size-0 ) ),
			transparent calc( var( --circle-size ) + var( --size-0 ) )
		)
	;
	--card-border: var( --color-purple-light );
	--card-text: var( --color-purple );
	--icon-color: var( --color-purple );
	--icon-size: var( --size-2 );

	margin: 0;
	padding: var( --size-3 );
}
	@media (min-width: {{ metrics.containerSize }}) {
		.card-subtitle {
			--circle-size: 30%;
			--card-background-y: 16%;
		}
	}

.card-subtitle-background {
	position: relative;
	margin-left: var( --page-size );
	margin-right: var( --page-size );
	border-radius: var( --size--1 );
	background-color: var( --color-purple );
	overflow: hidden;
}
.card-subtitle-background:after {
	content: "";
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	border: solid var( --color-purple-light ) var( --size--4 );
	margin: var( --size-0 );
}
	@media (min-width: {{ metrics.containerSize }}) {
		.card-subtitle-background:after {
			margin: var( --size-1 );
		}
	}
