.box {
	padding: var( --page-size );
}

.center {
	margin: 0 auto;
}

.container {
	width: 100%;
	max-width: {{ metrics.containerSize }};
}

.stack-sm > * + * {
	margin-top: var( --stack-sm-size );
}

.stack > * + * {
	margin-top: var( --stack-size );
}

.stack-lg > * + * {
	margin-top: var( --stack-lg-size );
}

.stack-xl > * + * {
	margin-top: var( --stack-xl-size );
}
