.bg-line {
	position: relative;
}
.bg-line:before {
	z-index: 1;
	content: "";
	position: absolute;
	top: calc( 50% - (var( --bg-line-height, 4px ) / 2) );
	left: var( --bg-line-indent, 0 );
	right: var( --bg-line-indent, 0 );
	height: var( --bg-line-height, 4px );
	background-color: var( --bg-line-color, var( --color-purple ) );
}
.bg-line-content {
	position: relative;
	z-index: 10;
	background-color: var( --bg-line-mask-color, var( --color-cream ) );
	padding-left: var( --bg-line-mask-size, var( --size--2 ) );
	padding-right: var( --bg-line-mask-size, var( --size--2 ) );
}

.block-children > * {
	display: block;
}

.color-cream {
	color: var( --color-cream );
}
.color-green {
	color: var( --color-green );
}
.color-purple {
	color: var( --color-purple );
}
.color-purple-light {
	color: var( --color-purple-light );
}

.font-regular {
	font-family: "ddc-hardware-regular";
}
.font-condensed {
	font-family: "ddc-hardware-condensed";
}

.font-size\:-1 {
	font-size: var( --size--1 );
}
.font-size\:1 {
	font-size: var( --size-1 );
}
.font-size\:2 {
	font-size: var( --size-2 );
}
.font-size\:3 {
	font-size: var( --size-3 );
}
.font-size\:4 {
	font-size: var( --size-4 );
}
.font-size\:5 {
	font-size: var( --size-5 );
}

.measure {
	max-width: var( --measure );
}

.mono {
	font-family: var( --font-mono );
	font-size: calc( var( --size-0 ) * 0.875 );
}

.no-underline {
	text-decoration: none;
}

.shadow {
	box-shadow: 6px 6px 0 var( --shadow-color );
}

@media screen and (min-width: {{ metrics.containerSize }}) {
	.super-size-me.font-size\:-1,
	.super-size-me .font-size\:-1 {
		font-size: var( --size-0 );
	}
	.super-size-me.font-size\:0,
	.super-size-me .font-size\:0 {
		font-size: var( --size-1 );
	}
	.super-size-me.font-size\:1,
	.super-size-me .font-size\:1 {
		font-size: var( --size-2 );
	}
	.super-size-me.font-size\:2,
	.super-size-me .font-size\:2 {
		font-size: var( --size-3 );
	}
	.super-size-me.font-size\:3,
	.super-size-me .font-size\:3 {
		font-size: var( --size-4 );
	}
}

.text-center {
	text-align: center;
}

.two-up {
	display: grid;
	row-gap: calc( var( --gap-size, var( --stack-lg-size ) ) );
	column-gap: calc( var( --gap-size, var( --stack-lg-size ) ) );
}
	@media screen and (min-width: {{ metrics.twoUpSize }}) {
		.two-up {
			grid-template-columns: 1fr 1fr;
		}
	}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
