{% macro render(options) %}
<div class="[][][ FeedFormat ]">
	<input
		class="[][ visually-hidden ][]"
		type="radio"
		id="feed-format-xml"
		name="format"
		:checked="model.format && model.format === 'xml'"
		@click="model.format = 'xml'; updateSubscription('format')"

		checked
	/>
	<label for="feed-format-xml">XML</label>

	<input
		class="[][ visually-hidden ][]"
		type="radio"
		id="feed-format-json"
		name="format"
		:checked="model.format && model.format === 'json'"
		@click="model.format = 'json'; updateSubscription('format')"
	/>
	<label for="feed-format-json">JSON</label>
</div>
{% endmacro %}

{% set css %}
<style>
</style>
{% endset %}

{% set criticalCss %}
<style>
.FeedFormat {
	--color-tint: rgba(31, 41, 55, 1);

	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 20ch;
	width: 50%;
	border: solid var( --color-tint ) 1px;
	border-radius: 2em;
	padding: 0.2em;

	font-size: var( --size--1 );
}
	[disabled] .FeedFormat {
		--color-tint: rgba(156, 163, 175, 1);
		background-color: rgba(243, 244, 246, 1);
	}

.FeedFormat input:checked {
	border: solid red 1px;
}

.FeedFormat label {
	cursor: pointer;
	border-radius: 1em;
	padding: 0.25em;
	color: var( --color-tint );
	text-align: center;
}
	.FeedFormat input:checked + label {
		background-color: var( --color-tint );
		color: white;
	}
	[disabled] .FeedFormat label {
		cursor: auto;
	}
</style>
{% endset %}
