{% macro render(options) %}
<div
	class="[][][ TagList ]"
>
	{% set popularTags = (options.tags.slice( 0, 5 ) | sort) %}
	{% set moreTags = (options.tags.slice( 5 ) | sort) %}

	<ul
		class="[][ --hidden ][ TagList-list ]"
		:class="{ hidden: !model.hash && !showContents }"
	>
		{% for tag in popularTags %}
		<li
			style="--transition-delay: calc( 0.25s * {{ loop.index }} )"
		>
			<input
					type="checkbox"
					id="tag-{{ tag }}"
					:checked="!model.hash || (model.ignored_tags && !model.ignored_tags.includes( '{{ tag | lower}}' ))"
					{# :disabled="!model.hash" #}
					@click="toggleTag( '{{ tag }}' )"

					checked
					{# disabled #}
				/>
			<label for="tag-{{ tag }}">{{ tag }}</label>
		</li>
		{% endfor %}
	</ul>

	{% if moreTags %}
	<details
		class="[][ --hidden ][]"
	>
		<summary>More</summary>

		<ul>
			{% for tag in moreTags %}
			<li>
				<input
						type="checkbox"
						id="tag-{{ tag }}"
						:checked="!model.hash || (model.ignored_tags && !model.ignored_tags.includes( '{{ tag | lower}}' ))"
						:disabled="!model.hash"
						@click="toggleTag( '{{ tag }}' )"

						checked
						disabled
					/>
				<label for="tag-{{ tag }}">{{ tag }}</label>
			</li>
			{% endfor %}
		</ul>
	</details>
	{% endif %}
</div>
{% endmacro %}

{% set css %}
<style>
</style>
{% endset %}

{% set criticalCss %}
<style>
.TagList-list > * {
	transition: all 2s ease var( --transition-delay, 0s );
}
.hidden > * {
	opacity: 0;
}
.TagList ul {
	list-style-type: none;
	padding-left: 0;
}

.TagList summary {
	z-index: 1;
	position: relative;
	width: 100%;
	text-align: center;
	font-size: var( --size--1 );
}
	.TagList summary::after {
		z-index: -1;
		position: absolute;
		left: 0; bottom: 50%;
		content: "";
		width: 100%;
		height: 2px;
		background: #eee;
	}

</style>
{% endset %}
