.Invisible {
	--animate: 0;
	--icon-color: var( --color-green );

	position: absolute;
	top: 0; right: 0; left: 0;

	opacity: 0;
	clip-path: circle(
		var( --blacklight-size) at
		calc( var( --blacklight-x ) + var( --blacklight-size ) )
		calc( var( --blacklight-y ) + var( --blacklight-size ) )
	);
	background: var( --color-purple-200 );
	color: var( --color-green );

	transition: opacity
		calc( 3.0s * var( --animate ) )
		calc( 1.0s * var( --animate ) )
		ease
	;
}
	.Invisible em {
		font-size: var( --size-3 );
	}

@media (min-width: {{ metrics.containerSize }}) {
	.Invisible {
		align-content: center;
		min-height: 100vh;
	}
}

@media (pointer:coarse) {
	:root {
		--blacklight-size: 10rem;
	}
}

.lights-off .Invisible {
	opacity: 1.0;
	--animate: 1;
}

