.SiteAuthor {
	color: var( --color-purple-200 );
	font-family: "ddc-hardware-regular";
	font-size: var( --size-0 );
}
	.SiteAuthor em {
		font-size: var( --size-1 );
	}

.lights-off .SiteAuthor {
	border-color: var( --color-black-light );
	color: var( --color-black-light );
}

.Invisible .SiteAuthor {
	color: var( --color-purple-300 );
}
