---
layout: layouts/base.njk
---
<div class="[ center container stack-xl ][][]">
	{# <header class="[][][ PageHeader ]">
		<p class="[][][ PageHeader-site-title ]">{{ site.title }}</p>
	</header> #}
	<main class="[ stack-lg ][][]">


		{{ content | safe }}
	</main>
	{# <footer
		class="[][ font-size:-1 ][ PageFooter ]"
	>{{ site.title }}</footer> #}
</div>
