---
title: Configure Feed
description: Customize the content of your feed
externalScripts:
  - "https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js"
---
{%- from "components/component.njk" import component with context -%}
<div
	x-data="app"
	x-init="init"
>
	<p
		class="[][][ status ]"
		x-show="status.message"
		x-text="status.message"
		style="display: none; position: fixed; bottom: 1em; right: 1em; left: 1em; padding: 0.75em 1.25em; color: #fff;"

		:class="status.type === 'error' ? 'error' : ( status.type === 'success' ? 'success' : '' )"
	></p>

	{{ component( "TagList", { tags: postTags.tags } ) }}

	<fieldset
		class="[][ stack ][]"
		:disabled="!subscription.found"
	>
		{{ component( "FeedUrl" ) }}

		{{ component( "FeedFormat" ) }}
	</fieldset>
</div>

<script>
	let api = {
		url: "/api/v1",

		getSubscription( subscriptionHash )
		{
			return fetch( `${this.url}/subscriptions/${subscriptionHash}` )
				.then( response => response.json() )
				.then( data =>
				{
					return data.subscription;
				})
				.catch( error =>
				{
					console.error( error );
				});
		},

		getTags()
		{
			return fetch( `${this.url}/static/tags` )
				.then( response => response.json() )
				.then( data =>
				{
					return data.tags;
				})
				.catch( error =>
				{
					console.error( error );
				});
		},

		updateSubscription( subscription )
		{
			return fetch( `${this.url}/subscriptions/${subscription.hash}`,
					{
						method: "PUT",
						body: JSON.stringify( subscription ),
						headers: {
							'Content-Type': 'application/json'
						},
						redirect: 'follow',
					}
				)
				.then( response => response.json() )
				.then( data =>
				{
					if( data.subscription )
					{
						return data.subscription;
					}
					else
					{
						return {
							error: true,
						};
					}
				})
				.catch( error =>
				{
					console.error( error );
				});
		},
	};

	let app = {
		subscription: {
			hash: "",
			ignoredTags: null,
			found: null,

			format: null,
			get url()
			{
				return `{{ site.url }}/feed/${this.hash}`;
			},
		},

		model: {},

		status: {
			message: "Loading...",
			type: null,
			timeout: null,
		},

		/* Methods */
		get feedUrl()
		{
			return `{{ site.url }}/feed/${this.model.hash || ""}`;
		},

		async toggleTag( tag )
		{
			let ignoredTagsIndex = this.subscription.ignoredTags.indexOf( tag.toLowerCase() );
			if( ignoredTagsIndex > -1 )
			{
				this.subscription.ignoredTags.splice( ignoredTagsIndex, 1 );
			}
			else
			{
				this.subscription.ignoredTags.push( tag.toLowerCase() );
			}

			this.updateSubscription();
		},

		/* Methods */
		async copyUrl()
		{
			try
			{
				navigator.clipboard.writeText( this.feedUrl );
				this.setStatus( "Copied feed URL", "success" );
			}
			catch( error )
			{
				this.setStatus( error.message, "error" );
			}
		},

		async init()
		{
			let url = new URL( window.location.href );
			let subscriptionHash = url.pathname.split( "/" )[2];

			if( subscriptionHash === "" )
			{
				window.location.href = "/";
				return;
			}

			this.subscription.hash = subscriptionHash;
			try
			{
				let subscription = await api.getSubscription( subscriptionHash );
				if( subscription )
				{
					this.model = subscription;
					this.subscription.ignoredTags = subscription["ignored_tags"];
					this.subscription.format = subscription.format;
					this.subscription.found = true;
					this.status.message = null;
				}
				else
				{
					this.status.message = "The feed you requested could not be found";
					this.status.type = "error";
					this.subscription.found = false;
				}
			}
			catch( error )
			{
				console.error( error );
			}
		},

		setStatus( message, type )
		{
			if( this.status.timeout )
			{
				clearTimeout( this.status.timeout );
			}

			this.status.message = message;
			this.status.type = type;

			if( type !== "error" )
			{
				this.status.timeout = setTimeout( () =>
				{
					this.status.message = "";
					this.status.type = null;
					
				}, 2000 );
			}
		},

		async updateSubscription( property )
		{
			let result = await api.updateSubscription( this.model );

			if( result.error )
			{
				this.setStatus( result.error, "error" );
			}
			else
			{
				this.setStatus( "Saved", "success" )
			}
		},
	};
</script>

<style>
	.status {
		background-color: #4d5562;
	}
	.status.success {
		background-color: #42936c;
		color: white;
	}
	.status.error {
		background-color: #8d2822;
		color: white;
	}

	.loading label {
		background: linear-gradient(90deg, rgba(187, 187, 196, 0.5), rgba(187, 187, 196, 0.1));
		background-size: 200% 200%;
		color: transparent;
		border-radius: 4px;
		animation: labelGradient 3s ease infinite;
	}

	@keyframes labelGradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
</style>
