---
permalink: /index.html
layout: layouts/page.njk
# externalScripts:
#  - "https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js"
---
<div
	x-data="app"
	class="[ stack-lg ][][ animate animate-fade-in container ]"
>
	<div
		class="[][ shadow ][ card-title ]"
	>
		<h1
			class="[ stack ][ block-children font-size:1 ][]"
			style="--stack-size: var( --size--1 )"
			aria-label="{{ site.title }}"
		>
			<span class="[][ font-regular ][]">The</span>
			<span class="[][ color-cream font-condensed font-size:3 ][ site-title ]">Invisible Link</span>
			<span class="[][ font-regular ][]">Company</span>
		</h1>
	</div>

	<div
		class="[ stack-lg ][ shadow ][ card card-subtitle color-cream font-regular ]"
	>
		<p
			class="[ center stack-sm ][ block-children measure super-size-me ][]"
		>
			<span class="[][ color-green font-size:0 ][]">Yet another</span>
			<span class="[ center ][ font-size:2 measure ][]" style="--measure: 16ch;">link&nbsp;blog</span>
			{# <span class="[][ font-condensed ][]">available only</span> #}
			<span class="[][ color-green font-size:0 ][]">with a twist&hellip;</span>
		</p>

		{% include "svg/rss.svg" %}

		<p class="[ stack-sm ][ block-children font-size:1 measure font-condensed super-size-me ][]">
			Available only via&nbsp;RSS
		</p>
	</div>

	<div
		class="[][ shadow ][ card card-testimonial ]"
	>
		<p class="[][ font-regular font-size:1 text-center super-size-me ][]">“Not a good idea”</p>
	</div>

	<div
		class="[][][ card card-feature ]"
	>
		<h2 class="[ stack ][ block-children font-regular font-size:0 super-size-me ][]">
			<span>Featuring</span>
			<span class="[][ font-size:2 ][ mute-em ]">Mute ‘Em</span>
			<span>Technology</span>
		</h2>
	</div>

	<div
		class="[][ shadow ][ card card-mute-em ]"
	>
		<h2 class="[ stack ][ block-children color-purple-light font-regular super-size-me ][ card-mute-em-heading ]">
			<span class="[][ font-size:0 ][]">Featuring</span>
			<span class="[][ color-cream font-size:2 ][ mute-em ]">Mute-Em</span>
			<span class="[][ font-size:0 ][]">Technology</span>
		</h2>

		<div class="[ stack-lg ][][ card-mute-em-demo ]">
			<div class="[ stack ][][]">

				<div class="[ stack ][ super-size-me ][]">
					<div class="[][ shadow ][ mute-em-example ]">
						<div class="[][][ mute-em-example-row ]">
							<p class="[][][]">kottke.org</p>
							<p class="[][ font-condensed ][ mute-em-example-count ]">
								<span>31</span>
							</p>
						</div>
						<div class="[][][ mute-em-example-row ]">
							<p class="[][][]">{{ site.title }}</p>
							<p class="[][ font-condensed ][ mute-em-example-count ]">
								<span>{{ posts.posts.length }}</span>
							</p>
						</div>
						<div class="[][][ mute-em-example-row ]">
							<p class="[][][]">Moss and Fog</p>
							<p class="[][ font-condensed ][ mute-em-example-count ]">
								<span>19</span>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="[ stack ][][]">
				{# <p class="[][ block-children font-regular super-size-me font-size:0 ][]">&hellip;to customize your feed</p> #}

				<div class="[ stack ][ super-size-me ][]">
					<div class="[][ shadow ][ mute-em-example ]">
						<div class="[][][ mute-em-example-row ]">
							<p class="[][][]">kottke.org</p>
							<p class="[][ font-condensed ][ mute-em-example-count ]">
								<span>31</span>
							</p>
						</div>
						<div class="[][][ mute-em-example-row ]">
							<p class="[][][]">{{ site.title }}</p>
							<p class="[][ font-condensed ][ mute-em-example-count ]">
								<span>{{ posts.posts.length }}</span>
							</p>
						</div>
						<div class="[][][ mute-em-example-row ]">
							<p class="[][][]">Moss and Fog</p>
							<p class="[][ font-condensed ][ mute-em-example-count ]">
								<span>19</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<p class="[][ block-children font-regular font-size:-1 ][ card-mute-em-footer ]">(Trademark not intended)</p>
	</div>
</div>
