---
title: Site Title
externalScripts:
  - "https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js"
---
{%- from "components/component.njk" import component with context -%}

<div
	class="[ stack-lg ][][]"
	x-data="app"
	x-init="init"
>
	<p
		class="[][][ status ]"
		x-show="status.message"
		x-text="status.message"
		style="display: none; position: fixed; bottom: 1em; right: 1em; left: 1em; padding: 0.75em 1.25em; color: #fff;"

		:class="status.type === 'error' ? 'error' : ( status.type === 'success' ? 'success' : '' )"
	></p>

	<div class="[ stack ][][ animate-fade-in ]">
		<h1
			class="[][][ PageTitle animate-fade-in animate-slide-in ]"
			style="--transition-delay: 0.125s;"
		>{{ title }}</h1>

		<p
			class="[][ measure ][ animate-fade-in ]"
			style="--transition-delay: 1.25s;"
		>In just a few moments, you'll have your very own feed jam-packed with links. But first, this is your personalized feed URL:</p>

		{{ component( "FeedUrl" ) }}
	</div>

	{# <p>I hope you’ll enjoy every story, photo, article, and punchline you find here, but that’s probably not in the cards.</p>

	<div class="[ stack ][][]">
		<p class="[][ measure ][]">Instead, dial things in just the way you like them by adjusting which topics arrive in your feed:</p>
		{{ component( "TagList", { tags: postTags.tags } ) }}
	</div> #}

	{# <div class="[ stack ][ measure ][]">
		<h2 class="[][][ font-size:1 ]">Getting started</h2>
		<p>If you're familiar with RSS feeds and feed readers, you know the drill. Otherwise, copy and paste this URL into your reader of choice.</p>
		{{ component( "FeedUrl" ) }}
	</div> #}

	{# <div class="[ stack ][ measure ][]">
		<h3 class="[][ bold ][]">Need a reader?</h3>
		<p>If you don't have a favorite feed reader just yet, there are loads to choose from. Here are a few I enjoy:</p>
		<ul>
			<li>Feedbin</li>
			<li>NetNewsWire</li>
			<li>Stream</li>
			<li>Unread</li>
		</ul>
		{{ component( "FeedUrl" ) }}
	</div> #}

	{# <div class="[ stack ][][]">
		<h2 class="[][][ font-size:1 ]">Topics</h2>
		<p class="[][ measure ][]">Each post is tagged by topic, like these that appear quite frequently. If you’d prefer not to see links about a certain subject, uncheck it and never look back.</p>
		{{ component( "TagList", { tags: postTags.tags } ) }}
	</div> #}

	{# <div class="[ stack ][][]">
		<h2 class="[][][ font-size:1 ]">Advanced</h2>
		<p>If your RSS client is having trouble subscribing to <em>{{ site.title }}</em>, or if you just have a preference about your feed format, jiggle this handle to choose between traditional Atom or the fancy new JSON:</p>
		{{ component( "FeedFormat" ) }}
	</div> #}
</div>

<script>
	let api = {
		url: "/api/v1",

		getSubscription( subscriptionHash )
		{
			return fetch( `${this.url}/subscriptions/${subscriptionHash}` )
				.then( response => response.json() )
				.then( data =>
				{
					return data.subscription;
				})
				.catch( error =>
				{
					console.error( error );
				});
		},

		updateSubscription( property )
		{
			let value = Array.isArray( app.model[property] )
				? JSON.stringify( app.model[property] )
				: app.model[property];

			let options = {
				method: "PUT",
				body: JSON.stringify({
					[property]: value
				}),
				headers: {
					'Content-Type': 'application/json'
				},
				redirect: 'follow',
			};

			return fetch( `${this.url}/subscriptions/${app.model.hash}`, options )
				.then( response => response.json() )
				.then( data =>
				{
					if( data.subscription )
					{
						return data.subscription;
					}
					else
					{
						return {
							error: true,
						};
					}
				})
				.catch( error =>
				{
					console.error( error );
				});
		},
	};

	let app = {

		model: {},
		showContents: false,

		status: {
			message: "",
			type: null,
			timeout: null,
		},



		/* Methods */
		async copyUrl()
		{
			try
			{
				navigator.clipboard.writeText( this.feedUrl );
				this.setStatus( "Copied feed URL", "success" );
			}
			catch( error )
			{
				this.setStatus( error.message, "error" );
			}
		},

		get feedUrl()
		{
			return `{{ site.url }}/feed/${this.model.hash || ""}`;
		},

		async init()
		{
			let url = new URL( window.location.href );
			let subscriptionHash = url.pathname.split( "/" )[2];

			if( subscriptionHash === "" )
			{
				window.location.href = "/";
				return;
			}

			setTimeout( () => this.showContents = true, 5000 );

			try
			{
				let subscription = await api.getSubscription( subscriptionHash );
				if( subscription )
				{
					this.model = subscription;
				}
				else
				{
					this.setStatus( "The feed you requested could not be found", "error" );
				}
			}
			catch( error )
			{
				console.error( error );
			}
		},

		setStatus( message, type )
		{
			if( this.status.timeout )
			{
				clearTimeout( this.status.timeout );
			}

			this.status.message = message;
			this.status.type = type;

			if( type === "success" )
			{
				this.status.timeout = setTimeout( () =>
				{
					this.status.message = "";
					this.status.type = null;

				}, 2000 );
			}
		},

		async toggleTag( tag )
		{
			let ignoredTagsIndex = this.model.ignored_tags.indexOf( tag.toLowerCase() );
			if( ignoredTagsIndex > -1 )
			{
				this.model.ignored_tags.splice( ignoredTagsIndex, 1 );
			}
			else
			{
				this.model.ignored_tags.push( tag.toLowerCase() );
			}

			this.updateSubscription( "ignored_tags" );
		},

		async updateSubscription( property )
		{
			this.setStatus( "Saving..." );
			let result = await api.updateSubscription( property );

			if( result.error )
			{
				this.setStatus( result.error, "error" );
			}
			else
			{
				this.setStatus( "Saved", "success" )
			}
		},
	};

	let animateElements = () =>
	{
		Array.from( document.querySelectorAll( ".animate-fade-in" ) )
			.forEach( element =>
			{
				element.classList.add( "animate" );
			});

		Array.from( document.querySelectorAll( ".animate-slide-in" ) )
			.forEach( element =>
			{
				element.classList.add( "animate" );
			});
	};

	setTimeout( () => animateElements(), 50 );

</script>

<style>
	.status {
		background-color: #4d5562;
	}
	.status.success {
		background-color: #42936c;
		color: white;
	}
	.status.error {
		background-color: #8d2822;
		color: white;
	}

	.loading label {
		background: linear-gradient(90deg, rgba(187, 187, 196, 0.5), rgba(187, 187, 196, 0.1));
		background-size: 200% 200%;
		color: transparent;
		border-radius: 4px;
		animation: labelGradient 3s ease infinite;
	}

	@keyframes labelGradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
</style>
